name: Build with Gradle

on:
  push:
    branches: [ 'main' ]
  pull_request:
    branches: [ 'main' ]

jobs:
  build:
    runs-on: ubuntu-22.04
    permissions:
      actions: write
      contents: read

    steps:
      - uses: actions/checkout@0ad4b8fadaa221de15dcec353f45205ec38ea70b # v4.1.4
      - name: Set up JDK
        uses: actions/setup-java@99b8673ff64fbf99d8d325f52d9a5bdedb8483e9 # v4.2.1
        with:
          java-version-file: '.java-version'
          distribution: 'temurin'
      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@db19848a5fa7950289d3668fb053140cf3028d43 # v3.3.2
      - name: Publish Gradle Plugin
        run: |
          ./publishGradlePlugin.sh
        env:
          JUNIT5_ROBOLECTRIC_EXTENSION_GRADLE_PLUGIN_PORTAL_KEY: '${{ secrets.JUNIT5_ROBOLECTRIC_EXTENSION_GRADLE_PLUGIN_PORTAL_KEY }}'
          JUNIT5_ROBOLECTRIC_EXTENSION_GRADLE_PLUGIN_PORTAL_SECRET: '${{ secrets.JUNIT5_ROBOLECTRIC_EXTENSION_GRADLE_PLUGIN_PORTAL_SECRET }}'
      - name: Build with Gradle Wrapper
        run: |
          ./gradlew build koverXmlReport publish
        env:
          JUNIT5_ROBOLECTRIC_EXTENSION_MAVEN_USERNAME: '${{ secrets.JUNIT5_ROBOLECTRIC_EXTENSION_MAVEN_USERNAME }}'
          JUNIT5_ROBOLECTRIC_EXTENSION_MAVEN_PASSWORD: '${{ secrets.JUNIT5_ROBOLECTRIC_EXTENSION_MAVEN_PASSWORD }}'
          JUNIT5_ROBOLECTRIC_EXTENSION_GPG_SIGNING_KEY: '${{ secrets.JUNIT5_ROBOLECTRIC_EXTENSION_GPG_SIGNING_KEY }}'
          JUNIT5_ROBOLECTRIC_EXTENSION_GPG_SIGNING_PASSWORD: '${{ secrets.JUNIT5_ROBOLECTRIC_EXTENSION_GPG_SIGNING_PASSWORD }}'
      - name: Upload coverage report
        uses: actions/upload-artifact@65462800fd760344b1a7b4382951275a0abb4808 # v4.3.3
        if: ${{ hashFiles('build/reports/kover/report.xml') != '' }}
        with:
          name: kover-report
          path: ${{ github.workspace }}/build/reports/kover/report.xml
          retention-days: 5
  kover:
    runs-on: ubuntu-22.04
    needs:
      - build
    permissions:
      actions: read
      checks: write
      contents: read
      pull-requests: write

    steps:
      - name: Download coverage report
        uses: actions/download-artifact@65a9edc5881444af0b9093a5e628f2fe47ea3b2e # v4.1.7
        with:
          name: kover-report
      - name: Comment branch coverage report to PR
        uses: mi-kas/kover-report@0befa22b2291fedc1eefd9ff8f9d5e3a9412168c # v1.8
        if: ${{ hashFiles('report.xml') != '' }}
        with:
          path: ${{ github.workspace }}/report.xml
          title: Branch Coverage
          update-comment: true
          min-coverage-overall: 60
          min-coverage-changed-files: 70
          coverage-counter-type: BRANCH
      - name: Comment line coverage report to PR
        uses: mi-kas/kover-report@0befa22b2291fedc1eefd9ff8f9d5e3a9412168c # v1.8
        if: ${{ hashFiles('report.xml') != '' }}
        with:
          path: ${{ github.workspace }}/report.xml
          title: Line Coverage
          update-comment: true
          min-coverage-overall: 60
          min-coverage-changed-files: 70
          coverage-counter-type: LINE
