name: Build with Gradle

on:
  workflow_dispatch:
    inputs:
      releaseVersion:
        type: string
        description: New version for the release. When empty release publishing skipped.
        default: ''
        required: true
  push:
    branches: [ 'main' ]
  pull_request:
    branches: [ 'main' ]

jobs:
  build:
    strategy:
      matrix:
        os: [ubuntu-22.04, windows-2022]
    runs-on: ${{ matrix.os }}
    permissions:
      actions: write
      contents: read

    steps:
      - name: Change Gradle user home
        shell: bash
        if: ${{ startsWith(matrix.os, 'windows') }}
        run: |
          GRADLE_USER_HOME=${RUNNER_TEMP}\.gradle
          mkdir -p "${GRADLE_USER_HOME}"
          echo "GRADLE_USER_HOME=${GRADLE_USER_HOME}" >> ${GITHUB_ENV}
      - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
      - name: Set up JDK
        uses: actions/setup-java@8df1039502a15bceb9433410b1a100fbe190c53b # v4.5.0
        with:
          java-version-file: '.java-version'
          distribution: 'temurin'
      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@d156388eb19639ec20ade50009f3d199ce1e2808 # v4.1.0
      - name: Bump version
        if: github.event_name == 'workflow_dispatch' && github.event.inputs.releaseVersion != ''
        run: |
          ./bumpVersion.sh "${RELEASE_VERSION}"
        env:
          RELEASE_VERSION: ${{ github.event.inputs.releaseVersion }}
      - name: Publish Gradle Plugin to Maven Local
        run: |
          ./gradlew :robolectric-extension-gradle-plugin:publishToMavenLocal --configure-on-demand
        env:
          JUNIT5_ROBOLECTRIC_EXTENSION_GPG_SIGNING_KEY: '${{ secrets.JUNIT5_ROBOLECTRIC_EXTENSION_GPG_SIGNING_KEY }}'
          JUNIT5_ROBOLECTRIC_EXTENSION_GPG_SIGNING_PASSWORD: '${{ secrets.JUNIT5_ROBOLECTRIC_EXTENSION_GPG_SIGNING_PASSWORD }}'
      - name: Build with Gradle Wrapper
        run: |
          ./gradlew build koverXmlReport publish
        env:
          JUNIT5_ROBOLECTRIC_EXTENSION_MAVEN_USERNAME: '${{ secrets.JUNIT5_ROBOLECTRIC_EXTENSION_MAVEN_USERNAME }}'
          JUNIT5_ROBOLECTRIC_EXTENSION_MAVEN_PASSWORD: '${{ secrets.JUNIT5_ROBOLECTRIC_EXTENSION_MAVEN_PASSWORD }}'
          JUNIT5_ROBOLECTRIC_EXTENSION_GPG_SIGNING_KEY: '${{ secrets.JUNIT5_ROBOLECTRIC_EXTENSION_GPG_SIGNING_KEY }}'
          JUNIT5_ROBOLECTRIC_EXTENSION_GPG_SIGNING_PASSWORD: '${{ secrets.JUNIT5_ROBOLECTRIC_EXTENSION_GPG_SIGNING_PASSWORD }}'
      - name: Publish Gradle Plugin
        run: |
          ./publishGradlePlugin.sh
        env:
          JUNIT5_ROBOLECTRIC_EXTENSION_GRADLE_PLUGIN_PORTAL_KEY: '${{ secrets.JUNIT5_ROBOLECTRIC_EXTENSION_GRADLE_PLUGIN_PORTAL_KEY }}'
          JUNIT5_ROBOLECTRIC_EXTENSION_GRADLE_PLUGIN_PORTAL_SECRET: '${{ secrets.JUNIT5_ROBOLECTRIC_EXTENSION_GRADLE_PLUGIN_PORTAL_SECRET }}'
          JUNIT5_ROBOLECTRIC_EXTENSION_GPG_SIGNING_KEY: '${{ secrets.JUNIT5_ROBOLECTRIC_EXTENSION_GPG_SIGNING_KEY }}'
          JUNIT5_ROBOLECTRIC_EXTENSION_GPG_SIGNING_PASSWORD: '${{ secrets.JUNIT5_ROBOLECTRIC_EXTENSION_GPG_SIGNING_PASSWORD }}'
      - name: Upload unit test report
        uses: actions/upload-artifact@b4b15b8c7c6ac21ea08fcf65892d2ee8f75cf882 # v4.4.3
        if: ${{ always() && hashFiles('**/test-results/**/*.xml') != '' }}
        with:
          name: ${{ matrix.os }}-unit-test-report
          path: |
            ${{ github.workspace }}/**/build/reports/tests
            ${{ github.workspace }}/**/build/test-results
          retention-days: 5
      - name: Upload coverage report
        uses: actions/upload-artifact@b4b15b8c7c6ac21ea08fcf65892d2ee8f75cf882 # v4.4.3
        if: ${{ always() && hashFiles('build/reports/kover/report.xml') != '' }}
        with:
          name: ${{ matrix.os }}-kover-report
          path: ${{ github.workspace }}/build/reports/kover/report.xml
          retention-days: 5
  release:
    runs-on: ubuntu-24.04
    permissions:
      contents: write
    needs:
      - build
    if: github.ref_name == github.event.repository.default_branch && github.event_name == 'workflow_dispatch' && github.event.inputs.releaseVersion != '' && !endsWith(github.event.inputs.releaseVersion, 'SNAPSHOT')
    steps:
      - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
        with:
          ref: ${{ github.head_ref }}
      - name: Create release
        shell: bash
        run: |
          git config --global user.name "${GIT_USER_NAME}"
          git config --global user.email "${GIT_USER_EMAIL}"
          ./tagRelease.sh "${RELEASE_VERSION}"
        env:
          GIT_USER_NAME: ${{ github.actor }}
          GIT_USER_EMAIL: ${{ github.actor_id }}+${{ github.actor }}@users.noreply.github.com
          RELEASE_VERSION: ${{ github.event.inputs.releaseVersion }}
  junit:
    strategy:
      matrix:
        os: [ ubuntu-22.04, windows-2022 ]
    runs-on: ${{ matrix.os }}
    needs:
      - build
    permissions:
      actions: read
      checks: write
      contents: read
    if: github.repository == 'apter-tech/junit5-robolectric-extension' && github.event_name == 'pull_request'
    steps:
      - name: Download unit test report
        uses: actions/download-artifact@fa0a91b85d4f404e444e00e005971372dc801d16 # v4.1.8
        with:
          name: ${{ matrix.os }}-unit-test-report
      - name: Comment unit test report
        if: ${{ hashFiles('**/test-results/**/*.xml') != '' }}
        uses: mikepenz/action-junit-report@a427a90771729d8f85b6ab0cdaa1a5929cab985d # v5.0.0
        with:
          report_paths: '**/test-results/**/*.xml'
          check_name: Unit test report (${{ matrix.os }})
  kover:
    strategy:
      matrix:
        os: [ ubuntu-22.04, windows-2022 ]
    runs-on: ${{ matrix.os }}
    needs:
      - build
    permissions:
      actions: read
      checks: write
      contents: read
      pull-requests: write
    if: github.repository == 'apter-tech/junit5-robolectric-extension' && github.event_name == 'pull_request'
    steps:
      - name: Download coverage report
        uses: actions/download-artifact@fa0a91b85d4f404e444e00e005971372dc801d16 # v4.1.8
        with:
          name: ${{ matrix.os }}-kover-report
      - name: Comment branch coverage report to PR
        uses: mi-kas/kover-report@5f58465b6f395c8fa3adc2665e27250bad87de50 # v1.9
        if: ${{ hashFiles('report.xml') != '' }}
        with:
          path: ${{ github.workspace }}/report.xml
          title: Branch Coverage (${{ matrix.os }})
          update-comment: true
          min-coverage-overall: 60
          min-coverage-changed-files: 70
          coverage-counter-type: BRANCH
      - name: Comment line coverage report to PR (${{ matrix.os }})
        uses: mi-kas/kover-report@5f58465b6f395c8fa3adc2665e27250bad87de50 # v1.9
        if: ${{ hashFiles('report.xml') != '' }}
        with:
          path: ${{ github.workspace }}/report.xml
          title: Line Coverage (${{ matrix.os }})
          update-comment: true
          min-coverage-overall: 60
          min-coverage-changed-files: 70
          coverage-counter-type: LINE
